[Desktop Entry]
Type=Application
Name=BigBubbleMuff
GenericName=Fuzz / Distortion
Comment=Russian "Bubble Font" Big Muff Pi emulation (standalone)
Exec=@BIN@
Icon=@ICON@
Terminal=false
Categories=AudioVideo;Audio;Multimedia
Keywords=fuzz;distortion;guitar;bigmuff;vst;
